In [1]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

from Manage_data.db_manager import get_data
import pandas as pd

In [2]:
df = get_data('META')
df.head()

entry already exists or no title

  Title       Date    Open    High     Low   Close  Adj_close    Volume
0  META 2025-02-18  736.00  736.73  706.44  716.37     716.37  21815704
1  META 2025-02-14  726.14  740.91  725.62  736.67     736.67  16884300
2  META 2025-02-13  721.52  729.00  718.04  728.56     728.56  12569100
3  META 2025-02-12  715.30  727.10  712.60  725.38     725.38  12016500
4  META 2025-02-11  713.32  723.66  710.04  719.80     719.80  12998000

In [3]:
df.dtypes

Title                object
Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj_close           float64
Volume                int64
dtype: object